{% extends '::base.html.twig' %}

{% block title %}MonTitre{% endblock %}

{% block body %}      
 <div>
    <h2>Administration de Blog</h2>

    {% block content %}
    {% endblock %}
    
</div>    
        
{% endblock %}
