{% extends '::base.html.twig' %}

{% block title %}MonTitre{% endblock %}

{% block body %}
    <div class="agauche">
     
        
    </div>    
        
        <div class="adroite">
    <h2>Administration de Blog</h2>
    {% block content %}
    {% endblock %}
        </div>
{% endblock %}
