<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('/css/layout.css') }}" rel="stylesheet" />
        <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% block menu %}
           {% include ":blog:menu.html.twig" %} 
        {% endblock %}
        
        {% block sidebar %}
            <div id="gauche" name="sidebar"></div>
        {% endblock %}
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        
    </body>
</html>
