{% extends 'HBBlogBundle::layout.html.twig' %}

{% block content -%}
    <h3>Article creation</h3>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
